extends @views/layouts/default

block variables
  - title = 'Contacts'

append style
  link(rel='stylesheet' href='./styles.scss')

block content
  section
doctype html
html(lang="en")
  head
    title Contacts
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/styles.css")
  body
    header
      h1 Contact Us

    main
      form(action="/contacts" method="POST")
        div
          label(for="name") Name:
          input#name(type="text" name="name" required)

        div
          label(for="email") Email:
          input#email(type="email" name="email" required)

        div
          label(for="comment") Comment:
          textarea#comment(name="comment" rows="5" required)

        div
          button(type="submit") Send

    footer
      p &copy; 2025 Your Company

  h1.center-x Markdown
    .markdown-body
      include:contacts ./README.md
