.header-container
  .header-content
    a(href="index.html").header-left
      img.app-logo(src='@images/pug-logo.svg')
      span App demo
    .header-middle
      a(href="index.html") Home
      a(href="markdown.html") Contacts
    .header-right
